name: untitled-kanban-nest

services:
  main:
    container_name: main
    build:
      context: .
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - 3000:3000
    command: npm run start:dev
    depends_on:
      - mysql
    restart: always

  mysql:
    container_name: mysql
    image: mysql:lts
    env_file:
      - .env
    ports:
      - 3306:3306
    volumes:
      - mysql-data:/var/lib/mysql
    restart: always

volumes:
  mysql-data:
